body{
  margin: 0;
  padding: 0;
  min-width: 1080px;
}

#device-nav{
  width: 100%;
  height: 60px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#device-nav a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#device-nav a.selected{
  color: white;
}

#the-magic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#the-keyboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/*Top keys of key board */
#keyboard-toprow{
  display: flex;
  width: 853px;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-top-right-radius: 1% 10%;
  border-top-left-radius: 1% 10%;
  border-bottom-right-radius: 1% 10%;
  border-bottom-left-radius: 1% 10%;
  margin: 10px;
  padding: 10px 5px 5px 10px;
}
#keyboard-top{
  list-style: none;
  background-color: grey;
  padding: 0;
  margin:0;
}

#keyboard-top li{
  float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.number-lock{
   margin: 0 5px 5px 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#section{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* bottom row of keyboard*/
#keyboard-bottom{
  display: flex;
  flex-direction: row;
}
/* Main Keys*/
#keyboard {
margin: 0;
padding: 10px 5px 5px 10px;
list-style: none;
  background-color: grey;
  border-top-right-radius: 1% 2.5%;
  border-top-left-radius: 1% 2.5%;
  border-bottom-right-radius: 1% 2.5%;
  border-bottom-left-radius: 1% 2.5%;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ddd;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
        .capslock, .tab, .left-shift,.left-ctrl {
        clear: left;
        }
       
            #keyboard .tab, #keyboard .delete {
            width: 70px;
            }
            #keyboard .capslock {
            width: 80px;
            }
            #keyboard .return {
            width: 77px;
            }
            #keyboard .left-shift {
            width: 95px;
            }
            #keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
       
        width: 281px;
        }
        .on {
        display: none;
        }
/* new code bellow*/
#keyboard .start-app{
  font-size: 20px;
}

#keyboard .fn{
  color: blue;
}

#keyboard .command{
  display: flex;
  flex-direction: column;
}

#keyboard .command p{
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}

#keyboard .command span{
  font-size: 20px;
  line-height:28px;
  padding-right: 20px;
}

 #keyboard .ctrl{
  width: 51px;
}

/* Right-side of keyboard*/
#keyboard-rightside{
  display: flex;
  flex-direction: column;
}

#keyboard-adds{
   list-style: none;
  background-color: grey;
  margin: 5px;
  padding: 10px 5px 5px 10px;
  border-top-right-radius: 1% 10%;
  border-top-left-radius: 1% 10%;
  border-bottom-right-radius: 1% 10%;
  border-bottom-left-radius: 1% 10%;
}

#keyboard-adds li{
  float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ddd;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* Directional Keys (arrows)*/
#keyboard-adds .delete{
  clear: left;
}

#keybaord-directionals{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: grey;
  margin: 10px 5px;
  padding:5px;
  border-top-right-radius: 1% 10%;
  border-top-left-radius: 1% 10%;
  border-bottom-right-radius: 1% 10%;
  border-bottom-left-radius: 1% 10%;
}

#keybaord-directionals li{
  
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ddd;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#direct-bottom{
  display: flex;
  flex-direction: row;
}

