body{
    margin: 0;
    padding: 0;
}
#bright-mode{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
    /*add a box shadow */
  box-shadow: 0px 0px 15px black;
}


/* brightness settings */
#bright-mode.dark{
   transition: 0.5s ease;
    background-color: rgb(79, 80, 80);
    color: aliceblue;
}


#bright-mode span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0 auto;
  transition: 0.5s ease;
}

#bright-mode span.active{
    color:cornflowerblue;
}

#bright-mode i{
    margin: 10px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s ease;
}

#bright-mode.dark i:hover{
  color: yellow; 
}
/* Mode buttons*/
#switch, #spectrum{
  transition: 0.7s ease;
  cursor: pointer;
}
/* Background color title and actual background color*/
#current-mode{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    color: white;
    transition: 0.7s ease;
}

#current-mode #current-color{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
  background-color: rgba(0, 0, 0, 0.397);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 8px;
    margin: 10px;
}
#current-mode span#prompt{
  text-align: center;
  margin: 5px;
  transition: 0.2s ease;
}

/* Color-Switch mode*/

#switch-panel{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 150px;
  top: 320px;
  left: 440px;
  background-color: #e3e6e6;
  border-radius: 5%;
}
#switch-panel #inner-outline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: auto 0px;
  height: 155px;
  width: 75px;
  border: 1px solid black;
  border-radius: 5%;
  opacity: 0.5;
}

#inner-outline #on{
  width: 80%;
  height: 45%;
  padding-bottom: 5px;
  border-radius: 5%;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: 0.3s ease;
 
  color: rgba(0, 0 ,0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
#inner-outline #off{
  width: 80%;
  height: 45%;
  border-radius: 5%;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  transition: 0.3s ease;
 
  color: rgba(0, 0 ,0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-outline #on.unpressed{
  background-color: #cccccc;
  box-shadow: inset 0px 5px #ffffff;
  background: linear-gradient(180deg, rgba(173,173,173,1) 29%, rgba(227,227,227,1) 93%);
}

#inner-outline #off.unpressed{
  background: linear-gradient(180deg, rgba(227,227,227,1) 9%, rgba(255,255,255,1) 52%);
  box-shadow: inset 0px -5px #cccccc;
 
}

/* Hexi-Spectrum Mode*/
#rand-button{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding:10px 5px;
   background-color: rgba(0, 0, 0, 0.397);
  border: 2px solid transparent;
  margin: 5px;
  border-radius: 8%;
  cursor: pointer;
 
  /* all the code required to make sure the button cannot be seleceted*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
 
}


#the-magic{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#the-magic span:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
}
#hext-box{
  width: 100px;
  height: 45px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 15%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0px;
}

#setColor{
  width: 70px;
  height: 49px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 15%;
  margin-left: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* Either email the code for the Hexi-Spectrum mode in an email or comment the whole html, css and javascript in here...*/
