@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body{
  font-family: 'Roboto Condensed', 'sans serif' ;
  color: white;
  margin :0;
  padding: 0;
  background: rgba(255,157,246,1);
}
h1{
  margin :0;
  padding: 0;
}
#stage{
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(233,38,137,1) 50%, rgba(126,12,70,1) 74%, rgba(0,0,0,1) 92%);
}

/* where all the drawing magic hapens:) */
#canvas{
  position: relative;
}

/* the fence art */
#base1{
  position: absolute;
  height: 150px;
  width: 35px;
  background-color: #c96302;
  left: 490px;
  top: 170px;
  border-bottom-left-radius: 40% 5%;
  border-bottom-right-radius: 40% 5%;
  border-top-left-radius: 40% 5%;
  border-top-right-radius: 40% 5%;
}
#base2{
  position: absolute;
  height: 180px;
  width: 42px;
  background-color: #c96302;
  left: 550px;
  top: 170px;
  border-bottom-left-radius: 40% 5%;
  border-bottom-right-radius: 40% 5%;
  border-top-left-radius: 40% 5%;
  border-top-right-radius: 40% 5%;
}

#support1{
  position: absolute;
  height: 50px;
  width: 29.4px;
  background-color: #b95b02;
  left: 515px;
  top: 195px;
  border-bottom-left-radius: 40% 35%;
  border-bottom-right-radius: 40% 35%;
  border-top-left-radius: 40% 5%;
  border-top-right-radius: 40% 5%;
  transform: rotate(103deg );
}
#support2{
  position: absolute;
  height: 70px;
  width: 29.4px;
  background-color: #b95b02;
  left: 520px;
  top: 250px;
  border-bottom-left-radius: 40% 25%;
  border-bottom-right-radius: 40% 25%;
  border-top-left-radius: 40% 5%;
  border-top-right-radius: 40% 5%;
  transform: rotate(123deg);
}

/* da sheepy boi */
#sheep #eye-pupil{
  position: absolute;
  height: 28px;
  width: 7px;
  background-color: #000000;
  left: 383px;
  top: 75px;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  border-top-left-radius: 50% 25%;
  border-top-right-radius: 50% 25%;
  z-index: 6;
  transform: rotate(115deg);
}

#sheep #eye-ball{
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #bf3b2e;
  border-radius: 50%;
  left: 370px;
  top: 70px;
  z-index: 5;
}

#sheep #head{
  position: absolute;
  height: 85px;
  width: 100px;
  background-color: #272823;
  border-radius: 50%;
  left: 340px;
  top: 50px;
  z-index: 4;
  transform: rotate(70deg);
}

#sheep #body{
  position: absolute;
  height: 130px;
  width: 180px;
  background-color: #fffaf5;
  left: 220px;
  top: 50px;
  border-radius: 30%;
  z-index: 3
}

#sheep #front-legs{
  position: absolute;
  height: 70px;
  width: 40px;
  background-color: #272823;
  left: 360px;
  top: 150px;
  border-radius: 30%;
  transform: rotate(160deg);
}

#sheep #back-legs{
  position: absolute;
  height: 70px;
  width: 40px;
  background-color: #272823;
  left: 220px;
  top: 150px;
  border-radius: 30%;
  transform: rotate(20deg);
}
#sheep #tail{
  position: absolute;
  height: 50px;
  width: 40px;
  background-color: #fffaf5;
  border-radius: 50%;
  left: 195px;
  top: 40px;
  z-index: 4;
  transform: rotate(140deg);
}
