*{
  margin: 0;
}

#heading{
  background-color: #060606;
  color: white;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
}

#leftside{
  display: flex;
}
#leftside #icon{
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-right:5px;
}
#leftside #title-account{
  margin-left:5px;
}

#leftside #title-account  #project-title{
  display: flex;
  align-items: center;
  gap: 5px;
}

#leftside #title-account  #project-title p{
  font-size: 20px;
  font-weight:bold; 
}

#leftside #title-account  #project-title i{
  font-size: 15px;
}

#rightside{
  display: flex;
  gap:10px;
}

.button{
  background-color: #444857;
  width: fit-content;
  padding:16px 18px;
  border-radius: 6%;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.button i{
  font-size: 12px;
}

i#cog{
  font-size: 15px;
}

.button:hover{
  background-color: #5a5f73;
}

#signup{
  color: black;
  background-color: #47cf73;
}

#signup:hover{
  background-color: #248c46;
  color: white;
}

#change-view{
  padding: 0 20px;
}

#change-view i{
  font-size: 15px;
}

/* Main body*/

#DaCode{
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  border: 1px solid #444857;
  border-left: none;
  border-right: none;
}

#dividerbar{
  width: 100%;
  height: 15px;
  background-color: black;
  border: 1px solid #444857;
  border-left: none;
}

/* Section where code will go*/
#actualCode{
  width: 100%;
  height: 50%; /* both sections will satrt off at 50% height, but it will change later...*/
  display: flex;
}

.vert-divider{
  height: 100%;
  width: 18px;
  background-color: black;
  border: 1px solid #444857;
  border-top: none;
}

.textbox{
  height: 100%;
  width: 33.33%;
  background-color: #1d1e22;
}

#html-div{
  border-left: none;
}

/* Section where compiled and loaded website made in code section will go*/
#loadedSite{
  width: 100%;
  height:50%; /* both sections will satrt off at 50% height, but it will change later...*/
  background-color: #FFF;
}



