/* Code based on this: https://codepen.io/m3g4p0p/pen/GRNgOWN*/

body{
  margin: 0px;
}


#Carousel{
  width: 100%; /*change to 100 time the number of slides if will fit the entire page (100%)*/
  overflow: hidden;
}

#scrollable-content{
  position: relative;
  width: 100%;
}

#wrapper{
  
  display: flex;
  transform: translateX(0);
  transition: transform 1s ease;
  user-select: none;
  
}

#scrollable-object{
  width: 100%;
}

#scrollable-object img{
  object-fit: cover;
}
