/* Code mainly inspired by THIS LINK: https://codepen.io/cconceicao/pen/PBQawy*/

*{
  margin: 0;
}

.Carousel{
  position: absolute;
  width: 100%; /* changes width of entire gallery*/
  height: 40rem; /* changes height of entire gallery*/
  
}
.scrollable-content{
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;
  z-index: 1;
}

.whopper{
  width: 400%; /*Needs to be able to hold all 100% pages
  exmaple: 5 slides = 500%, 2 slides = 200%...*/
  position: relative;
  display: flex;
}

.scrollable-object{
  width: inherit;
  
}
.scrollable-object > img{
  /* This entire this is optional, but the default assumes you only want the picture as the main slide*/
  width: 100%;
  height: 40rem;
  object-fit:cover;
}
