/*Code for CAROUSEL SLIDER START*/
/* Code based on this: https://codepen.io/m3g4p0p/pen/GRNgOWN*/
:root{
  --carouselwidth: 900px; /*changes the width for entire carousel*/
  
 --carouselheight: 30rem;
  /*changes the height for entire carousel*/
  
 --numberofSlides: 400%; /*for setting the amount of space need to fit all slides (number of slides * 100%)*/
  
 
  
  /*change either to fit additional requirements (which of course would require experiementation to gte it just right, so be warned...)*/
  
}




#Carousel{
  width: var(--carouselwidth);
  height: var(--carouselheight);
  overflow: hidden;
}

#scrollable-content{
  position: relative;
  
}

#wrapper{
  width: var(--numberofSlides);
  display: flex;
  transform: translateX(0);
  transition: transform 1s ease;
  user-select: none;
  
}

#scrollable-object{
  width: 100%;
}

#scrollable-object img{
 width: 100%;
  object-fit: cover;
}

/*Code for CAROUSEL SLIDER END*/
