/* Color Schemes:
#dae4e5(Very Light Blue, almost white)
#296e6b(Dark Turquoise)
#38c3ca(Turquoise)
#d286aa(pink)
#0265a0(blue)
#b6b3ae(grey(ish))
*/
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;400;500;600;700;800;900&display=swap');
/* new font above called "anybody"*/
body{
  margin: 0;
  padding: 0;
  background-color:#c3d3d5; 
  font-family: 'Anybody', cursive;
}

h1{
  font-weight: 400;
  font-size: 40px;
}

a{
  text-decoration: none;
  color: inherit;
}

/* navigation (top of page) */
#navigation{
  display: flex;
  width: 100%;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  background-color:#dae4e5;
  transition: 0.4s ease;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 99;
  
}

/* left side*/
#navigation #title h3{
  
  padding: 0px;
  margin: 15px;
  display: flex;
  align-items: center;
  color: #b6b3ae;
  font-family: serif;
  font-size: 40px;
  transition: 0.4s ease;
}

#navigation #title h3 div, #navigation #title h3 a{
  z-index: 99;
}

#pronuciation{
  cursor: help;
}

#icon{
  font-family: 'Anybody', cursive;
  color: #d286aa;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s ease;
}

#icon:hover{
  color: pink;
}

/* right side of navigation*/
#navigation ul{
  margin: 15px;
  padding: 0;
  display: flex;
  List-style: none;
  gap: 10px;
  font-family: 'Anybody', cursive;
  transition: 0.4s ease;
}

#navigation ul li{
  height: 1.5rem;
  margin: auto 0;
  padding: 2.5px;
  color: #b6b3ae;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease
}

#navigation ul li a{
  color: inherit;
}

#navigation ul li:hover{
  color: #296e6b;
}

#navigation ul i{
  display: none;
  
}

#navigation #responsive-part{
  margin: auto 20px;
  padding: 10px;
  font-size: 20px;
  color: #d286aa;
  cursor: pointer;
  transition: 0.4s ease;
  display: none; 
  
}

#navigation ul #done{
  color: #d286aa;
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  transition: 0.4s ease;
}

#navigation #responsive-part:hover, #navigation ul #done:hover{
  color: pink;
}

/* Banner photo slider*/

/*EVERYTHING ELSE UNDER IT IS EXPERIMENTATION*/
#banner-experiment{
  overflow-x: hidden;
}
#banner{
  display: flex;
  
  width: 300vw;
  height: 400px;
  background-color: black;
  transition: transform 0.3s ease;
}
#i-1{
  background-color: #1d1e22;
}
#i-2{
   background-color: #1d1f45;
}
#i-3{
   background-color: #1e4e69;
}
.ban{
  width: 100vw;
  z-index:2;
  cursor: grab;
}

.grabbing{
  cursor: grabbing;
}

/*EDITOR'S NOTE:Everything above is experimentaion and will be replaced with original banner code whne it is done
IT IS NOT OFFICAL CODE TOBE PUT IN*/
/*
#banner{
  width: 95%;
  height: 400px;
  margin: 0 auto;
  background-color: black;
  margin-top: 60px;
}
*/
#About-us{
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  font-family: 'Anybody', cursive;
  font-weight: 400;
  font-size: 20px;
  
}

#About-us #heading{
  margin:0;
  padding-top:25px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size:45px;
  background-color:  #97b2b5;
  
}


#a-few-words{
  display: flex;
  flex-direction: row;
}

#a-few-words #desc{
  padding: 20px;
  padding-right: 200px;
  background-color:#5f8386;
}

#a-few-words #desc span{
  color:#d286aa;
}

#a-few-words #goal{
  background-color:#153836;
  padding: 20px;
}

/* Featured section*/
#featured{
  background-color:#0b0f0f;
}

#featured #section-title{
  padding: 65px 0 30px 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  background-color: #2a3c32;
  height: 4rem;
  
}

#featured #section-title h2{
  padding: 0;
  margin: 0;
  font-size: 30px;
  color:white;
  width: fit-content;
  height: fit-content;
}

#featured div#anime-lineup{
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  
}

#featured #anime-lineup a{
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

#tooltip{
  display: none; 
  
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#featured a img{
  height:280px;
}

/* Merchandise ( or "Merch")section*/
#merch{
  background-color: #94a9c2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#merch #heading-section{
  width: 100%;
  height: 120px;
  background-color: #b4c8ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 20px 0;
  margin: 0 0 20px 0;
  color: white;
}

/* product banners for merch*/
#merch-container{
  width: 80%;
  height: 400px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-banner{
  height: 160px; /* keep same for all */
  background-color: #ffcfcf;
  display: flex;
}

.product-banner.long{
  width: 100%;
}

.product-banner.short{
  width: 30%;
  height: 200px;
}

.product-banner #product-text{
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  align-items: center;
  align-self: flex-end;
  background-color: rgba(0,0,0,0.6);
  color: rgba(255, 255, 255, 0.9);
  transition: 0.2s ease;
  transform: scale(1, 0);
}

.product-banner #product-text span{
  font-weight: bold;
}

.product-banner #product-text span#LostGirl{
  color: #ce5c49;
}

.product-banner #product-text span#CarePackage{
  color: #2e8dea;
}

.product-banner:hover #product-text{
    transform: scale(1,1);
  
}

.product-banner #product-text span:before{
  content:"\00a0";
}

.product-banner#LostGirlHoodie{
  background-color: #dedfda;
  background-image: url(https://static.wixstatic.com/media/275f63_a51e41cdd6e14b84b0419471f74e64dd~mv2.jpg/v1/fill/w_560,h_560,al_c,q_85,usm_0.66_1.00_0.01/275f63_a51e41cdd6e14b84b0419471f74e64dd~mv2.webp);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  
}

.product-banner#CarePackageCap{
  background-color: #dedfda;
  background-image: url(https://static.wixstatic.com/media/275f63_dc622bf9122347459276d24a61ceee13~mv2.png/v1/fill/w_420,h_560,al_c,q_90,usm_0.66_1.00_0.01/275f63_dc622bf9122347459276d24a61ceee13~mv2.webp);
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  
}

.product-banner#Care-Package-shortSleeve{
  background-color: #dedfda;
  background-image: url(https://static.wixstatic.com/media/275f63_b78d4ac24c624db980e123e7e69ca5be~mv2.jpg/v1/fill/w_315,h_420,al_c,q_85,usm_0.66_1.00_0.01/275f63_b78d4ac24c624db980e123e7e69ca5be~mv2.webp);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.product-banner#Care-Package-Shorts{
  background-color: #dedfda;
  background-image: url(https://static.wixstatic.com/media/275f63_941af3efd0ea4495a5870df7a58c390f~mv2.png/v1/fill/w_520,h_390,al_c,q_90,usm_0.66_1.00_0.01/275f63_941af3efd0ea4495a5870df7a58c390f~mv2.webp);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
/* Responsive Design*/
@media(max-width: 899px){ 
  #navigation ul{
    margin: 0;
    position: fixed;
    top: -400px;
    left: 0;
    background-color: #dae4e5;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  #navigation #responsive-part{
    display: block;
  }
  
  #navigation ul i{
    display: block;
  }
  
  #a-few-words{
    flex-direction: column;
  }
  
  #a-few-words #goal, #a-few-words #desc{
    padding: 10px;
  }
  
  #featured a img{
    height:480px;
  }
}

@media(max-width: 600px){
  #navigation #title h3 div, #navigation #title h3 a{
  z-index: 1;
  }
}
